<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Admin Dashboard</h2>
    <form action="/admin" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" required><br>
        <textarea name="description" placeholder="Description" required></textarea><br>
        <input type="file" name="image"><br>
        <input type="text" name="youtubeLink" placeholder="YouTube Link"><br>
        <button type="submit">Add Content</button>
    </form>
    
    <!--  -->
</body>
</html>
